 #blog-pager {
clear:both;
}
 body .main-inner {
    padding: 0;
    margin-bottom: 1em;
    background-color: white;  
   /*  border: none;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -goog-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
box-shadow: 0 0 0 rgba(0, 0, 0, 0);*/
}
.post {
    height:230px;
    width:47%;
    display:inline-block;
    text-decoration:none;
    float:left; 

    z-index:101;
    margin:0 1.1% 2%;
    padding:0px !important;
    border: 1px dotted #E6E6E6 !important;
}

h3.post-title a {
    /* font-size:80%;
    font-family: &#39;Open Sans Condensed&#39;, sans-serif;
    text-transform:uppercase;*/
   color:#111;
    padding:0; 
;
} 

h3.post-title {
   /* text-align:center;
    height:16px;
    position:absolute;
    bottom:23%;
    width:100%;
    z-index:101;
    overflow:hidden;
    margin:0!important;
    padding:10px 0; /* 
    /* text-align: center; 
    height: 16.5px;*/
    position: absolute;
    top: 190px;
    width: 100%;
    z-index: 101;
    /*overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;*/
}
.date-header {
    visibility:hidden;
    height:0!important;
    width:0!important;
    margin:0!important;
    padding:0!important;
}

.date-outer{
	margin: 0px;
}

.post-outer, .inline-ad {
  	padding:0!important;  
    margin: 0 -16px;
}
 
/*.blog-posts   date-outer  date-posts  post-outer :first-child h3.post-title { 
      position: initial;  
      font-size:2em;  
      clear:both; 
}*/
 
.date-outer &gt; div:nth-first-child {
	 border-bottom:1px solid #00C8BD;

}

.title-ellipsis{
	/* essential */
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
	overflow: hidden; 
	/* for good looks
	padding: 4px; */
}

.posts-thumb {
    /* width: 200px!important; 
    height: 190px!important;*/
    overflow: hidden;
    clear: both;
    /* border-bottom:3px solid #00C8BD;
    border-top:3px solid #558ABB;  
    border: 1px solid #E8E8E8;*/
}  
.posts-thumb:hover {
    border-top:3px solid #FF664E;
    border-bottom:3px solid #FEBE36;
}
.post-body {
    border-radius:2px;
    box-shadow:0 0 6px 1px rgba(0,0,0,0.1);
    position:relative;
    height:auto;
}
.posts-content{
/*width:100%!important;
height:auto!important;
max-width:800px!important;
max-height:400px!important;
min-width:190px!important;
min-height:190px!important;
height:90px;
color :green;*/
    padding-top: 170px; 
    display:block;
    position:relative;  
}

.post-body a {
	text-decoration: none;
}
.post-body img {
    display:block;
    width:100%!important;
    height:auto!important;
    max-width:800px!important;
    max-height:400px!important;
    min-width:190px!important;
    min-height:190px!important;
    border:none;
    outline:none;
    position:relative;
    margin: 0px;
    padding:0;
}
.post-summary-text {
    color:#555;
    background:#f5f5f5 url(http://1.bp.blogspot.com/-rh-PYvqjzSs/VPTARkPOSVI/AAAAAAAALC4/GyFFEnl2TO8/s1600/blueprint.png);
    font-size:100%!important;
    font-family: &#39;Open Sans Condensed&#39;, sans-serif;
    text-align:center;
    clear:both;
    overflow:hidden;
    margin:5px 0 0;
    padding:17% 10% 6%; /**/
}
.addthis_native_toolbox{
    position:absolute;
    top:100px;
    width:110%;
    /*bottom:-15px;*/
    z-index:100;
display:none;
}
a.comment-bubble {
color:#fff;
text-decoration:none;
font-size:110%;
right:30px;
position:absolute;
top:10px;
text-shadow:1px 2px 1px #333;
font-family: &#39;Pacifico&#39;, cursive;
}
a.comment-bubble:before {
content: &quot;Reviews: &quot; url(http://4.bp.blogspot.com/-t1i_svebif4/VPMpZqPrKzI/AAAAAAAALAg/TRJ2Un238Gs/s1600/heart-active.png);
}
.post-header,.post-footer {
display:none;
}
.post-outer :first-child h3.post-title  { 
      position: initial;  
       font-size:xx-large;  
      clear:both;
top:0px
	  /*text-align:center; display:none;*/
}
.post-outer :first-child h3.post-title a{ 
        
      font-size:xx-large;  
      clear:both;
      color:red;
}
.post-outer , .inline-ad :first-child {
    margin: 0 0px;
      
}  
